<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        

        <form action="index2.php?login" method="POST">
            Användarnamn: <input type="text" name="username"> Lösenord: <input type="text" name="password"> <input type="submit" value="Submit">
        </form>
      

    </body>
</html>