<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        

        <form class="admin" action="index2.php?login" method="POST">
            Användarnamn <input type="text" name="username" > <br> Lösendord <input type="text" name="password" >  <input type="submit" value="Logga in som administratör" name="submit"> <span>{{loginerror}}</span>
                </form>
      

    </body>
</html>