<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <ul>
            {# bilar sattes i controllers#}
            {%for Vara in varor%}
                {#obs regnr,marke,modell är i kolumnnamn i databasen#}
                <li>{{Vara.id}},{{Vara.namn}}, {{Vara.kategori}}, {{Vara.pris}} </li>
                {%endfor%}
        </ul>
    </body>
</html>